<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="sidebar">
            <aside id="sidebar" class="sidebar">
                <div th:if="${session.rol_usuario.equals('ROL_DIRECTOR')}" >
                   <!-- <p style="color: #012970">Para cualquier duda o consulta, puede ponerse en contacto a trav&eacute;s del email <strong>rdeza@defensoria.gob.pe</strong> o bien llamando [...] al <strong>901137085</strong>.</p>-->
                </div>
                <ul class="sidebar-nav" id="sidebar-nav">
                    <!-- li class="nav-item">
                        <a class="nav-link collapsed" href="index.html">
                            <i class="bi bi-grid"></i>
                            <span>General</span>
                        </a>
                    </li><End Dashboard Nav -->

                    <!--li class="nav-item" th:if="${session.rol_especialista.equals('ROL_ESPECIALISTA')}">
                        <a class="nav-link collapsed" th:href="@{/dp/usuario/ficha/listarFichas}">
                            <i class="fa-solid fa-keyboard"></i><span>Listado fichas</span>
                        </a>
                    </li-->

                    <li class="nav-item" th:if="${session.rol_especialista.equals('ROL_ESPECIALISTA')}">
                        <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#components-nav" aria-controls="components-nav" href="#">
                            <i class="fa-solid fa-school-circle-check"></i><span>Monitoreo y supervisi&oacute;n Ficha - Oficinas Conflictos Sociales</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                            <li>
                                <a th:href="@{/dp/especialista/ficha/listarSupervisionFichas}">
                                    <i class="fa-solid fa-table-list" style="font-size: 16px;margin-left: auto;"></i>
                                    <span>Supervisar Conflictos Sociales con fichas Completas e Incompletas por Región</span>
                                </a>
                            </li>
                         <!--   <li>
                                <a th:href="@{/ge/especialista/ficha/listarSupervisionFichas2}">
                                    <i class="fa-sharp fa-solid fa-circle"></i><span>Supervisar IE sin fichas registradas</span><i class="fa-solid fa-table-list" style="font-size: 16px;margin-left: auto;"></i>
                                </a>
                            </li>-->
                          <li>
                                <a th:href="@{/dp/especialista/ficha/listarMonitoreoFichas}">
                                    <i class="fa-solid fa-chart-line" style="font-size: 16px;margin-left: auto;"></i>
                                    <span>Monitorear Registros de Fichas</span>
                                </a>
                            </li>
                         <!--li class="nav-item" th:if="${session.rol_especialista.equals('ROL_ESPECIALISTA')}">
                             <a class="nav-link collapsed" th:href="@{/dp/especialista/reporte/reportesEstadisticos}">
                                 <i class="fa-solid fa-print"></i><span>Reportes</span>
                             </a>
                         </li-->
                        </ul>
                    </li> 
                    
              
                
             
             
                    
                    
                    
               <!--   <li class="nav-item" th:if="${session.rol_especialista.equals('ROL_ESPECIALISTA')}">
                        <a class="nav-link collapsed" th:href="@{/dp/especialista/ficha/ReporteDemuna}">
                            <i class="fa-solid fa-print"></i><span>Reportes</span>
                        </a>
                    </li>-->
                    
<!--                    <li class="nav-item" sec:authorize="hasRole('ROLE_CAS_ADMIN')">
                        <a class="nav-link collapsed">
                            <i class="fa-solid fa-print"></i><span> SSSS(ROLE_CAS_ADMIN)</span>
                        </a>
                    </li>-->
                </ul>
                <div>
                    <p style="color: #012970">Para cualquier duda o consulta, puede ponerse en contacto a trav&eacute;s del email <strong>rdeza@defensoria.gob.pe</strong> 
                </div>
            </aside><!-- End Sidebar-->
        </div>
    </body>
</html>
