<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <head>
        <title>TODO supply a title</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  

        <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}"        /> 
        <link rel="stylesheet"  th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"     />
        <link rel="stylesheet"  th:href="@{/css/custom.min.css}"                            />
    </head>
    <body>
        <main>
            <div class="container" style="text-align: center">
                <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                    <h1>403</h1>
                    <h2>Acceso denegado</h2>
                    <p>Se requiere autenticaci&oacute;n completa para acceder a este recurso.</p>
                    <br></br>
                    <a class="btn" th:href="@{/login}">Volver Atr&aacute;s</a>
                    <br></br>
                    <div class="credits">
                        <label class="text-center"> &copy; 2024 Derechos reservados. OGDPTI</label>
                        <br>
                            <div class="text-center">
                                <a href="https://www.defensoria.gob.pe/">Defensor&iacute;a del Pueblo!</a>
                            </div>
                    </div>
                </section>
            </div>
        </main><!-- End #main -->
    </body>
</html>
