<!DOCTYPE html>
<html lang="es" 
      xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Plusnet - Sesi&oacute;n Finalizada</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link rel="icon" th:href="@{/image/favicon.ico}" type="image/ico" />

        <!-- Google Fonts -->
<!--        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->

        <!-- Bootstrap -->
        <link rel="stylesheet"  th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"     />
        <link rel="stylesheet"  th:href="@{/css/bootstrap-icons.css}"     />

        <link rel="stylesheet"  th:href="@{/css/quill.snow.css}"     />        
        <link rel="stylesheet"  th:href="@{/css/quill.bubble.css}"     />    

        <!-- Font Awesome -->
        <link th:href="@{/webjars/fortawesome__fontawesome-free/6.4.0/css/all.min.css}" rel="stylesheet" /> 

        <link rel="stylesheet"  th:href="@{/css/custom.min.css}"/>

        <!-- Template Main CSS File -->
        <!--<link href="assets/css/style.css" rel="stylesheet">-->

        <!-- =======================================================
        * Template Name: NiceAdmin - v2.5.0
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <main>
            <div class="container">

                <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                    <h1>406</h1>
                    <h2>Su sessión ha caducado</h2>
                    <h3>Es posible que tenga abierto una nueva sessi&oacute;n en otro dispositivo.</h3>
                    <a class="btn" th:href="@{/login}">Reconectarse <i class="fa-solid fa-right-from-bracket"></i></a>
                    <!--<img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">-->
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                    </div>
                </section>

            </div>
        </main><!-- End #main -->

        <!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>-->

        <!-- Jquery -->
        <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}" type="text/javascript"></script>
        <!-- Bootstrap -->     
        <!--<script  th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"           type="text/javascript"></script>-->        
        <script  th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"    type="text/javascript"></script>        
        <script th:src="@{/js/tinymce.min.js}"></script>

        <!--Custom Theme Scripts -->
        <!--<script th:src="@{/js/custom.min.js}"></script>-->
        <script th:src="@{/js/main.js}"></script>

    </body>

</html>